In [2]:
#Slide 14
#Declare string
my_string = "I'm a string!"

#Retrieve a character
my_string[3]

' '

In [3]:
#Slide 14
#Retrieve a range of characters
my_string[1:3]

"'m"

In [4]:
#Slide 16
#Declare a url
my_url = "https://realpython.com/python-lists-tuples/"

#split the url into a list by the '/' character
my_url.split("/")

['https:', '', 'realpython.com', 'python-lists-tuples', '']

In [1]:
#Slide 19
#Declare a dictionary of instructors
my_dictionary = {'Friedo':'Sociology', 
                'Samantha': 'Anthropology',
                'Greg':'Political Science'}
print(my_dictionary)

{'Friedo': 'Sociology', 'Samantha': 'Anthropology', 'Greg': 'Political Science'}

In [2]:
names = ["Aske", "Sofie", "Andreas"]
study = ["SDS", "Sociology", "Medicine"]

dictionary = dict[zip(names, study)]

TypeError: 'type' object is not subscriptable

In [6]:
#Slide 20
#Retrieve Greg's discipline
print(my_dictionary['Greg'])

Political Science

In [7]:
#Slide 20

my_dictionary['Greg'] = "SDS" #This overwrites existing value
print(my_dictionary['Greg'])

SDS

In [9]:
#Example of accessing keys and values
print(my_dictionary.keys())

print(my_dictionary.values())

dict_keys(['Friedo', 'Samantha', 'Greg'])
dict_values(['Sociology', 'Anthropology', 'SDS'])

In [ ]:
#Slide 21
#Update dictionary with new key,value
my_dictionary.update({'Asger':'SDS'})
my_dictionary['Hjalmar'] = 'Sociology'
print(my_dictionary)

In [ ]:
#Slide 22
#Remove key,value

my_dictionary.pop('Greg')
print(my_dictionary)
print(len(my_dictionary)) # use len() to find number of key,value pairs

In [ ]:
#Slide 23
#Create lists
keys = ['Samantha', 'Friedo', 'Asger']
ages = [103, 78, 85]

#zip the lists together
key_values = dict(zip(keys, ages))

#see the key value pairs
print(key_values)

In [ ]:
#Slide 24
#NOTE: THIS CODE WILL NOT WORK FOR SDS STUDENTS YET
#B/C YOU DO NOT HAVE YOUR CREDENTIALS SET UP

# SETUP
import tweepy
# set up authentication for twitter
# first, use tweep OAuthHandler function to generate authentification object
from AppCred import CONSUMER_KEY, CONSUMER_SECRET
from AppCred import ACCESS_TOKEN, ACCESS_TOKEN_SECRET
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# second, add access token and secret to authentification object
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
# finally, generate variable to interact with twitter API
api = tweepy.API(auth)

In [ ]:
#Slide 24
# get tweets mentioning 'CPH_SODAS'
sodas_tweets = api.search("CPH_SODAS", count = 20)

print(sodas_tweets)

In [ ]:
#Slide 27
#Declare a tuple of instructors
instructors = [('Samantha', 'Anthropology', '16.0.05'),
               ('Friedo', 'Sociology', ''),
               ('Hjalmar', 'Sociology', '')]

#access second value of second tuple
instructors[1][1]

In [ ]:
#Slide 29
#Declaring single element tuples

firsttuple = ("carrot",)
secondtuple = ("potato")

print(type(firsttuple))
print(type(secondtuple))

In [ ]:
#Slide 32
#Declaring a set and printing

basecamp_teachers = {"Samantha","Friedo","Asger","Greg"}

print(basecamp_teachers)
print(basecamp_teachers)

In [ ]:
#Slide 32
#Set with duplicates

inventory = {"paper","pens","pens","erasers","notebooks"}
print(inventory)

In [ ]:
#Slide 32
#set with a list
mixed_set = {3, ['a','b'], "string", 31.5}

In [ ]:
#Slide 32
#set with multiple types
mixed_set2 = {3, "string", 4.1, False}

print(mixed_set2)
print(type(mixed_set2))

In [71]:
#Coding hint for Exercise 5.2

#Creating an example dataframe
import pandas as pd
 
# initialize list of lists
data = [['Friedo', 85], ['Samantha', 62], ['Asger', 103]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
 
# print dataframe.
df

       Name  Age
0    Friedo   85
1  Samantha   62
2     Asger  103

In [74]:
#One option, given names are unique and so can work as an index
df = df.set_index('Name')

In [75]:
#Access element in dataframe
df.loc['Friedo','Age']

85